﻿@model ViewModel.JadwalSidangViewModel

    <style>
        .btn-warning {
            background-color: #FF7D33;
            padding-left: 20px;
        }

        .btn-primary {
            background-color: midnightblue;
        }
    </style>
@using (Html.BeginForm("Create", "JadwalSidang", FormMethod.Post, new { id = "form-create", name = "form-create" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            <label>Nama Mahasiswa</label>
            @Html.DropDownListFor(model => model.MahasiswaId,
                   (IEnumerable<SelectListItem>)ViewBag.MahasiswaList, "--Pilih Nama--",
                   new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MahasiswaId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Pembimbing</label>
            @Html.EditorFor(model => model.TugasAkhirId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TugasAkhirId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Tanggal Sidang</label>
            @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Penguji</label>
            @Html.EditorFor(model => model.Penguji, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Penguji, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Judul</label>
            @Html.EditorFor(model => model.TugasAkhirId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TugasAkhirId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group navbar-right" style="margin:0">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Batal</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
}
<script type="text/javascript">
    $("#MahasiswaId").change(function () {

        $.ajax({
            url: '@Url.Action("GetByMahasiswa","JadwalSidang")',
            type: 'get',
            data: { MahasiswaId: $(this).val() },
            success: function (result) {
                $("#TugasAkhirId").html(result);
            }
        });
    });
    $("#form-create").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Save Successfull! Name: " + result.entity.Nama);
                    $(".modal").modal("hide");
                    GetList();
                }
                else {
                    alert("Error" + result.message);
                }
            }
        });
        return false;
    });
</script>