﻿@model ViewModel.JadwalSidangViewModel

@using (Html.BeginForm("Delete", "JadwalSidang", FormMethod.Post,
    new { id = "form-delete", name = "form-delete" }))
{
    @Html.AntiForgeryToken()
    <style>
        .glyphicon-trash {
            font-size: 80px;
            color: darkred;
        }
    </style>

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="panel-heading">
                <div class="col-md-3" style="margin-left:8%; margin-top:2%;">
                    <span class="glyphicon glyphicon-trash"></span>
                </div>
                <div class="col-md-8 " style="color:darkred">
                    <span>Apakah anda yakin ingin menghapus </span>
                    <br />
                    <b> @Html.DisplayFor(Model => Model.Mahasiswa_Nama)<a> ?</a></b>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-8 col-md-10">
                <div class="input-group">
                    <input type="button" value="Tidak" onclick="location.href='@Url.Action("Index")';" class="btn btn-warning" />
                    <input type="submit" value="Ya   " class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>

}

<script type="text/javascript">
    $("#form-delete").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    $(".modal").modal("hide");
                    location.reload();
                    //GetList();
                } else {
                    alert("error! " + result.message);
                }
            }
        });
        return false;
    });

</script>
