﻿
@{
    ViewBag.Title = "Jadwal Sidang";
}<div class="panel panel-primary">
    <div class="panel-heading">
        @using (Html.BeginForm("Index", "JadwalSidang", FormMethod.Get, new { id = "form1" }))
        {
            @*<div class="form-group">*@
            <div class="col-lg-3">
                <div class="input-group">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Cari Berdasarkan Nama", @Class = "form-control", Required = "true", title = "Nama Harus Diisi" })

                    <div class="input-group-btn">
                        <button style="background-color:midnightblue;" id="btn_search" name="btn_search" class="btn btn-primary" type="submit" value="Search">
                            <div class="glyphicon glyphicon-search" aria-hidden="true"></div>
                        </button>
                    </div>

                </div>
                <div class="input-group">
                    @Html.ValidationMessage("SearchString", "", new { @class = "text-danger" })
                </div>

            </div>


        }

        <input id="btn-create-new" type="button" class="btn btn-default" btn-lg
               value="Create New" />
    </div>
    <div class="panel-body">
    </div>

    <!-- Table -->
    <div id="data-list">
        Loading....
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal Tittle</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        GetList();
    });

    function GetList() {
        $.ajax({
            url: '@Url.Action("List","JadwalSidang")',
            type: 'get',
            success: function (result) {
                $("#data-list").html(result);
            }
        });
    }

    $("#btn-create-new").click(function () {
        $.ajax({
            url: '@Url.Action("Create","JadwalSidang")',
            type: 'get',
            success: function (result) {
                $(".modal-tittle").html("Create New");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
    });


    </script>
}
