﻿@model IEnumerable<ViewModel.TugasAkhirViewModel>

    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }


            td {
                border-top: 3px solid midnightblue;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
                width: 100%;
            }

            body {
                margin: 0;
            }
        </style>
    </head>
<table class="table">
    <tr>
        <th>
            Nama
        </th>
        <th>
            Kategori
        </th>
        <th>
            Pembimbing
        </th>
        <th>
            Judul
        </th>
        <th>
            #
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pembimbing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Judul)
        </td>
        <td>
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" id="dropDownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    More
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropDownMenu1">
                    <li><a class="btn-edit" data-id="@item.Id">Ubah</a></li>
                    <li><a class="btn-delete" data-id="@item.Id">Hapus</a></li>

                </ul>
            </div>
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    $(".btn-edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "TugasAkhir")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Edit");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
    });

     $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "TugasAkhir")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Hapus ?");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
    });

</script>